.result{
    margin-left: 20px;
    margin-right: 50px;
    padding-top: 20px;
    border-top: 2px solid white;
}

.result h3, .result h4{
    font-weight: normal;
}
.result em {
    font-weight: normal;
}
.result em {
    font-weight: bold;
}